.op {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    list-style: none;
}
@media screen and (min-width: 600px) {
    .op {
        color: red;
    }
}
@media screen and (max-width: 900px) {
    .op {
        color:purple;
    }
}
