body {
    background-image: linear-gradient(rgb(149, 149, 241), rgba(255, 17, 235, 0.966));
    justify-content: center;
}
.reg-cont {
    width: 600px;
    height: 560px;
    margin: 30px 100px 100px 300px;
    background-color: white;
    padding: 1px 1px 1px 1px;
    text-align: center;
    border-radius: 5%;
}
h2 {
    margin-left: -430px;
    margin-bottom: 50px;
}
.full {
    list-style: none;
    font-weight: bold;
    margin-left: -485px;
}
.user {
    list-style: none;
    font-weight: bold;
    margin-top: -18px;
    margin-left: 107px;
}
input {
    width: 250px;
    height: 30px;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
}
.em {
    font-weight: bold;
    list-style: none;
    margin-left: -510px;
    margin-bottom: -20px;
}
.ph {
    font-weight: bold;
    list-style: none;
    margin-left: 147px;
}
.pass {
    font-weight: bold;
    list-style: none;
    margin-left: -487px;
    margin-bottom: -20px;
}
.cp {
    font-weight: bold;
    list-style: none;
    margin-left: 170px;
}
.gen {
    font-weight: bold;
    list-style: none;
    margin-left: -501px;
    margin-bottom: -20px;
}
.rad1 {
    margin-left: -100px;
    margin-top: 30px;
}
label {
    margin-left: -120px;
}
button {
    padding: 10px;
    width: 450px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(rgb(149, 149, 241), rgba(255, 17, 235, 0.966));
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}