.hye {
    background-color: darkgreen;
    width: 1350px;
    height: 70px;
}
.gye {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: 83px;
}
.ype {
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 100px;
    margin-top: -150px;
    color: white;
    padding-left: 120px;
}
.omr {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -280px;
    left: 450px;
}
.ju {
    height: 600px;
    width: 400px;
    background-color: gainsboro;
    margin: 50px;
    margin-top: -300px;
    margin-left: 150px;
}
.lp {
    position: absolute;
    margin: 200px;
    top: 250px;
    font-size: 50px;
}
.kl {
    position: absolute;
    margin: 200px;
    top: 290px;
    font-size: 50px;
}
.mk {
    position: absolute;
    margin: 200px;
    top: 360px;
    line-height: 1.5;
}
.kj {
    margin: 50px;
    margin-left: 270px;
    padding: 7px;
    padding-left: 55px;
    padding-right: 55px;
    position: absolute;
    top: 750px;
    background-color: darkgreen;
    border: none;
    color: white;
}
.fg {
    height: 600px;
    width: 400px;
    margin: 50px;
    background-color: gainsboro;
    margin-left: 150px;
    margin-top: 200px;
}
.mn {
    position: absolute;
    margin: 200px;
    top: 960px;
    font-size: 35px;
    font-weight: bold;
}
.df {
    position: absolute;
    margin: 200px;
    top: 1060px;
    line-height: 1.5;
}
.de {
    margin: 50px;
    margin-left: 275px;
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;
    position: absolute;
    top: 1500px;
    background-color: darkgreen;
    border: none;
    color: white;
}
.fd {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: 600px;
    left: 500px;
}
.as {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: 300px;
    left: 200px;
    
}
.aq {
    position: absolute;
    height: 400px;
    width: 370px;
    margin: 50px;
    background-color: gainsboro;
    margin-left: 750px;
    margin-top: -650px;
}
.cv {
    position: absolute;
    margin: 200px;
    margin-left: 800px;
    top: 1950px;
    font-size: 40px;
    font-weight: bold;
}
.cx {
    position: absolute;
    margin: 200px;
    top: 2070px;
    margin-left: 800px;
    line-height: 1.5;
}
.we {
    margin: 50px;
    margin-left: 155px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    position: absolute;
    top: 2320px;
    background-color: darkgreen;
    border: none;
    color: white;
}
.cf {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -200px;
    left: -550px;
}
.ad {
    position: absolute;
    margin: 200px;
    top: 2350px;
    margin-left: 760px;
    font-size: 40px;
    font-weight: bold;
}
.nj {
    position: absolute;
    margin: 200px;
    top: 2505px;
    margin-left: 760px;
    line-height: 1.5;
}
.hn {
    position: absolute;
    margin: 200px;
    top: 2556px;
    margin-left: 890px;
    font-weight: bold;
}
.cb {
    margin: 50px;
    margin-left: 760px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    position: absolute;
    top: 2750px;
    background-color: darkgreen;
    border: none;
    color: white;
}
.gh {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -180px;
    left: 610px;
}
.nb {
    height: 100px;
    width: 250px;
    background-color: white;
    margin: 50px;
    position: absolute;
    bottom: -2780px;
    left: 680px;
}
.vc {
    height: 50px;
    width: 100px;
    background-color: white;
    margin: 50px;
    position: absolute;
    bottom: -2850px;
    left: 580px;
    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.xc {
    position: absolute;
    margin: 200px;
    top: 3260px;
    margin-left: 450px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.dude {
    position: absolute;
    margin: 200px;
    top: 3370px;
    margin-left: 350px;
    text-align: center;
}
.dus {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -700px;
    left: -420px;
}
.mant {
    position: absolute;
    margin: 200px;
    top: 3700px;
    margin-left: 30px;
    font-size: 20px;
    font-family: cursive;
    color: darkgreen;
}
.sss {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -700px;
    left: -400px;
}
.asd {
    position: absolute;
    margin: 200px;
    top: 3700px;
    margin-left: 350px;
    font-size: 20px;
    font-family: cursive;
    color: darkgreen;
}
.azs {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -670px;
    left: -400px;
}
.aws {
    position: absolute;
    margin: 200px;
    top: 3700px;
    margin-left: 600px;
    font-size: 20px;
    font-family: cursive;
    color: darkgreen;
    text-align: center;
}
.bad {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -550px;
    left: 850px;
}
.kas {
    position: absolute;
    margin: 200px;
    top: 3700px;
    margin-left: 850px;
    font-size: 20px;
    font-family: cursive;
    color: darkgreen;
    text-align: center;
}
.muh {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -550px;
    left: 830px;
}
.mh {
    position: absolute;
    margin: 200px;
    top: 3700px;
    margin-left: 1150px;
    font-size: 20px;
    font-family: cursive;
    color: darkgreen;
}
.hag {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -800px;
    left: -25px;
}
.nab {
    position: absolute;
    margin: 200px;
    top: 4100px;
    margin-left: 350px;
    text-align: center;
    font-size: 50px;
    color: white;
}
.mah {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -1000px;
    left: 1070px;
}
.kah {
    position: absolute;
    width: 1320px;
    height: 700px;
    background-color: rgb(1, 68, 1);
    bottom: -4800px;
    left: 10px;
    opacity: 0.9;
}
.cab {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: -550px;
    left: -200px;
}
.jag {
    position: absolute;
    margin: 50px;
    bottom: -4375px;
    left: 150px;
    font-size: 20px;
    color: white;
}
.juge {
    position: absolute;
    margin: 50px;
    bottom: -4480px;
    left: 150px;
    line-height: 2;
    font-size: 13px;
}
.div,a {
    color: white;
}
.ban {
    position: absolute;
    margin: 50px;
    bottom: -4400px;
    left: 300px;
    font-size: 20px;
    color: white;
}
.juy {
    position: absolute;
    margin: 50px;
    bottom: -4480px;
    left: 300px;
    line-height: 2;
    font-size: 13px;
}
.sude {
    position: absolute;
    margin: 50px;
    bottom: -4380px;
    left: 520px;
    font-size: 20px;
    color: white;
}
.wed {
    position: absolute;
    margin: 50px;
    bottom: -4532px;
    left: 520px;
    line-height: 2;
    font-size: 13px; 
}
.kag {
    position: absolute;
    margin: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 5100px;
    left: 520px;
    border: none;
    color: green;
}
.nag {
    position: absolute;
    width: 3px;
    height: 300px;
    margin: 50px;
    margin-left: 800px;
    background-color: white;
    margin-top: 700px;
}
.buy {
    position: absolute;
    margin: 50px;
    bottom: -4390px;
    left: 850px;
    font-size: 20px;
    color: white;
}
.sac {
    position: absolute;
    margin: 50px;
    bottom: -4420px;
    left: 850px;
    font-size: 13px;
    color: white;
}
.giy {
    position: absolute;
    margin: 50px;
    bottom: -4520px;
    left: 850px;
    font-size: 20px;
    color: white;
}
.hay {
    position: absolute;
    margin: 50px;
    bottom: -4540px;
    left: 850px;
    font-size: 20px;
    color: white;
}
.bug {
    position: absolute;
    position: relative;
    margin: 50px;
    bottom: 700px;
    left: 200px;
}

